<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ltz.admin.mapper.CategoryMapper">
  <resultMap id="BaseResultMap" type="com.ltz.pojo.Category">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tag_color" jdbcType="VARCHAR" property="tagColor" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.ltz.pojo.Category">
</mapper>